//--- FOOTER ---//

footer {
	//border-top: 1px solid color(grey);
	@include outer-container();
	@include pads(1 2 2 2);


	.contacts {
		@include span-columns(12);
		border-top: 1px solid color(main-grey-light);
		margin-top: 5rem;
		padding-top: 1rem;
		position: relative;
		
		#author p {

			display: block;

			@media screen and (min-width: $bp-medium) {
				display: inline;
			}
		}

		#contact-email {

			display: block;

			@media screen and (min-width: $bp-large) {
				position: absolute;
				right: 0;
				top: 1rem;
			}
		}

		#license {
			margin-top: 2rem;
			font-size: 0.75rem;
			max-width: 67%;

			img {
				margin-top: 1rem;
				display: block;
				max-width: 120px;
			}

		}

		a:hover {
			border-bottom: 1px solid color(brand);
		}
	}
}