//--- HOME ---//

.home-main-title {

	@include outer-container();
	@include pads(0 2 7 2);

	@extend %bold-weight;
	line-height: 120%;

	@media screen and (max-width: $bp-medium) {
		&.mobile {
			display: block;
		}
		&.desktop {
			display: none;
		}
	}

	@media screen and (min-width: $bp-medium) {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
		}
	}

	font-size: 2.5rem;

	@media screen and (min-width: $bp-small) {
		font-size: 3.5rem;
	}

	@media screen and (min-width: $bp-medium) {
		font-size: 6vw;
	}
	@media screen and (min-width: $max-width) {
		font-size: 3.5rem;
	}
}

.home-title-container {
	@include outer-container();
	@include pads(0 2 3 2);

	.title {
		@include pads(1 0 0 0);
	}
}

.container-boxes.home-page {

	padding-bottom: 1rem;

	.resource-link {
		//border-bottom: 1px solid color(brand);
	}

	.experience {

		.body {
			margin-top: 1rem;
		}
		.partner {
			margin-bottom: 1rem;
		}
	}

	.document {
		.subtitle {
			@extend %bold-weight;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}
}

#all-reources-button-contianer {
	@include outer-container();
	@include pads(0 2 3 2);

	text-align: center;

	a {
		@include span-columns(4);
	}

	@include media($medium) {
		a {
			@include span-columns(4);
		}
	}

	@include media($small) {
		a {
			@include span-columns(4);
		}
	}
	@include media($x-small) {
		a {
			@include span-columns(4);
		}
	}
}