//--- HOME ---//

.home-main-title {

	@include outer-container();
	@include pads(0 2 3 2);

	@extend %bold-weight;
	line-height: 120%;

	@media screen and (max-width: $bp-medium) {
		&.mobile {
			display: block;
		}
		&.desktop {
			display: none;
		}
	}

	@media screen and (min-width: $bp-medium) {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
		}
	}

	font-size: 2.5rem;

	@media screen and (min-width: $bp-small) {
		font-size: 3.5rem;
	}

	@media screen and (min-width: $bp-medium) {
		font-size: 6vw;
	}
	@media screen and (min-width: $max-width) {
		font-size: 3.5rem;
	}
}


#homepage-kit {		// snippet
	@include outer-container();
	@include pads(0 2 0 2);
	margin-bottom: 2rem;

	clear: both;


	ul {

		li {

			&.orientamento {
				margin-right: 0;
			}

			transition: 0.4s transform;

			&:hover {
				transform: translateY(-10px);
			}

			min-height: 120%;
			display: block;

			a {
				width: 100%;
				display: table;
				text-align: center;

				img {
					margin-right: auto;
					margin-left: auto;
					width: 100%;
					max-width: 230px;
					display: table-row;
				}

				p {
					@extend %medium-weight;
					height: 4.5rem;		// important to accomodate all the text when small space!!
					text-align: center;
					color: color(black);
					display: table-row;
				}
			}

			@include span-columns(12);

			@media screen and (min-width: $bp-small) {
				@include span-columns(4);
			}

			@media screen and (min-width: $bp-medium) {
				@include span-columns(3);
			}

			

			
		}
	}
}

#kit-part {
	@include outer-container();
	@include pads(0 2 0 2);

	a:link, a:hover, a:visited, a:active {
		text-decoration: none;
		color: color(black);
	}

	.top-line {
		width: 4rem;
		height: 1px;
		border-top: 0.2rem solid color(black);
		margin-bottom: 1rem;
	}

	h2 {
		@extend %medium-weight;
		@extend %medium-size;

		margin-bottom: 2rem;

		@include span-columns(12);

		@media screen and (min-width: $bp-medium) {
			@include span-columns(8);
		}
	}

	#kit-home-descritpion {
		display: block;
		margin-bottom: 2rem;

		@include span-columns(12);

		@media screen and (min-width: $bp-medium) {
			@include span-columns(8);
		}

		p + p {
			margin-top: 1rem;
		}
	}

	#condividi {
		@include span-columns(12);

		margin-bottom: 5rem;
		margin-left: 0;

		.button {
			margin-top: 1rem;

			@media screen and (min-width: $bp-medium) {
				max-width: 12rem;
			}
		}
	}
}



.home-title-container {
	@include outer-container();
	@include pads(0 2 3 2);

	.title {
		@include pads(1 0 0 0);
	}
}

.container-boxes.home-page {

	padding-bottom: 1rem;

	.resource-link {
		//border-bottom: 1px solid color(brand);
	}

	.experience {

		.body {
			margin-top: 1rem;
		}
		.partner {
			margin-bottom: 1rem;
		}
	}

	.document {
		.subtitle {
			@extend %bold-weight;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}
}

#all-reources-button-contianer {
	@include outer-container();
	@include pads(0 2 3 2);

	text-align: center;

	a {
		@include span-columns(4);
	}

	@include media($medium) {
		a {
			@include span-columns(4);
		}
	}

	@include media($small) {
		a {
			@include span-columns(4);
		}
	}
	@include media($x-small) {
		a {
			@include span-columns(4);
		}
	}
}