//--- KIT SINGLE ---//

#kit #kit-single {

	//--- Categories colors specifications ---//
	&.comunicazione {
		article #single-article-container .section-h-line, #more-articles > div h2, #more-articles h2, article aside #index_menu li.one .section-h-line {
			border-color: color(comunicazione);
		}

		article blockquote p:after, article blockquote p:before {
			color: color(comunicazione);
		}
	}

	&.opere {
		article #single-article-container .section-h-line, #more-articles > div h2, #more-articles h2, article aside #index_menu li.one .section-h-line {
			border-color: color(opere);
		}
		article blockquote p:after, article blockquote p:before {
			color: color(opere);
		}
	}

	&.orientamento {
		article #single-article-container .section-h-line, #more-articles > div h2, #more-articles h2, article aside #index_menu li.one .section-h-line {
			border-color: color(orientamento);
		}
		article blockquote p:after, article blockquote p:before {
			color: color(orientamento);
		}
	}

	//--- end ---//


	#title-bar header {
		@include outer-container();
		@include pads(0 2 7 2);

		#kit-title {
			@include span-columns(8);
			margin-bottom: 3rem;

			h2 {
				@extend %regular-weight;
				margin-bottom: 1rem;
				margin-top: 0.5rem;

				font-size: 1.5rem;

				@media screen and (min-width: $bp-large) {
					font-size: 1.7rem;
				}
			}

			h1 {
				@extend %bold-weight;
				line-height: 3rem;
				font-size: 2.286rem;

				@media screen and (min-width: $bp-large) {
					font-size: 3rem;
				}
			}

			@media screen and (max-width: $bp-large) {
				@include span-columns(12);
			}

			@media screen and (max-width: $bp-small) {

				h1, h2 {
					text-align: center;
				}
			}
		}

		#kit-icon {
			@include span-columns(12);
			margin-bottom: 2rem;

			img {
				max-width: 230px;
			}

			@media screen and (max-width: $bp-small) {
				text-align: center;
			}
		}

		#main-description {
			@extend %main-description;

			> div {
				@include span-columns(12);

				@media screen and (min-width: $bp-large) {
					@include span-columns(8);
				}
			}
		}
	}

	.back-button {
		.back-arrow-ico {
			width: 1.3rem;
			height: 1.3rem;
			display: inline-block;
			background-image: url("../../../assets/images/back-arrow-link.svg");
			background-size: 1.3rem;
			position: relative;
			top: 0.16rem;
		}

		span {
			display: inline-block;
		}

		&:hover {
			.back-arrow-ico {
				background-image: url("../../../assets/images/back-arrow-hover.svg");
			}
		}
	}

	article {
		@include outer-container();
		@include pads(0 2 7 2);

		aside {
			@include span-columns(4);

			#technical-content {
				height: 1px;
			}

			#index_menu{
				height: 100%;

				&.fix {
					@include span-columns(4);
					position: fixed;
					top: 2rem;
					width: 26.7%;
					max-width: 359px;
				}
				&.absolute {
					/*
					position: absolute;
					width: 26.7%;
					max-width: 359px;
					bottom: 0px;
					*/
					@include span-columns(4);
					position: relative;
					bottom: 0;
					max-width: 359px;
				}

				&.scollup {
					
				}

				h2 {
					@extend %regular-weight;
					@extend %medium-size;
					color: color(main-gray);
					margin-bottom: 2rem;
				}

				.ul_two {
					margin-left: 0.5rem;
				}

				.one + .ul_three {
					//margin-left: 2rem;
				}

				.two + .two {
					margin-top: 1rem;
				}

				.one a + .ul_two {
					margin-top: 1rem;
				}

				.ul_three {
					margin-top: 0.5rem;
					margin-left: 1rem;
				}

				li {

					&.one {
						font-size: 1rem;

						.section-h-line {
							border-top: 2px solid;
							width: 4rem;
							margin-bottom: 0.2rem;
						}

						&.hide > ul {		// hide "one" childrens (jQuery)
							display: none;
						}

						&.active > ul {
							display: block;
						}
					}

					&.two {
						font-size: 1rem;
					}

					&.three {
						font-size: 0.8rem;
						position: relative;
						margin-top: 0.1rem;
						
						.bullet {
							width: 0.37rem;
							height: 0.37rem;
							position: absolute;
							//right: -1rem;
							top: 0.35rem;
							left: -1rem;
							background-color: color(gray);
						}

					}

					line-height: 130%;
					font-size: 0.875rem;
					
					@extend .text-link;
					font-size: 0.8rem;

					a:link, a:visited {
						border-bottom: none;
					}

					padding-right: 1.75rem;
				}

				li + li {
					//margin-top: 0.4rem;
				}

				ul > li {
					//margin-top: 0.5rem;
				}

				.one + .one {
					margin-top: 1rem;
				}

				.gap-top {
					margin-top: 2rem;
				}

				.back_button_index {
					margin-top: 2rem;

					.h-line-index-back {
						width: 5rem;
						height: 1px;
						background-color: color(main-grey-light);
					}

					.back-button {
						font-size: 1rem;
						padding-left: 0;

						.back-arrow-ico {
							width: 1rem;
							height: 1rem;
							background-size: 1rem;
							top: 0.15rem;
						}
					}
				}
			}
		}

		#single-article-container {
			@include span-columns(8);

			.section-h-line {
				border-top: 5px solid;
				width: 5rem;
				margin-bottom: 1rem;
			}

			.section-h-line + .section-container {
				margin-bottom: 5rem;
			}

			.section-container {

				overflow: hidden;

				> h2 {
					@extend %section-title;		// kit-base.scss
				}

				> h2:first-child {
					margin-top: 0;
				}

				> h3 {
					@extend %medium-weight;
					font-size: 1.2rem;
					margin-top: 5rem;
					margin-bottom: 2rem;
				}

				strong {
					@extend %medium-weight;
				}

				p + p {
					margin-top: 1rem;
				}

				p + ul {
					margin-top: 2rem;
				}

				ul + p {
					margin-top: 3rem;
				}

				ul {
					list-style-type: square;
					padding-left: 1rem;

					li + li {
						padding-top: 0.5rem;
					}

				}

				ul.content-list {
					padding-left: 0;

					li + li {
						padding-top: 3rem;
					}

					li {
						margin-left: 1rem;
						list-style-type: none;

						.bullet {
							width: 0.37rem;
							height: 0.37rem;
							position: relative;
							//right: -1rem;
							top: 0.9rem;
							left: -1rem;
							background-color: color(black);
						}

						h4 {
							@extend %medium-weight;
							margin-bottom: 1rem;
						}

						@extend .text-link;



					}
				}

				img {
					margin-top: 3rem;
					margin-bottom: 2rem;

				}


				// make everything flot to stay in the flow
			
				p, ul, blockquote, h3 {
					display: block;
				}

				.gallery-group {
					display: block;
					overflow: hidden;

					margin-bottom: 3rem;
				}


				// lightbox gallery

				figure {
					margin: 0;
					margin-top: 7.25833%;

					a {
						display: block;
					}

					a:link, a:hover, a:visited, a:active {
						text-decoration: none;
						border: 0 !important;
					}
				}

				figcaption {
					@extend %light-weight;
				}

				.simple-list {

					li {
						margin-bottom: 0.4rem;
						margin-top: 0;
					}
				}

				.simple-list + p {
					margin-top: 2rem;
				}

				.two-columns {
					@include span-columns(4 of 8);

					&:nth-child(even) {
						margin-right: 0;
					}

					img {
						max-width: 100%;
						margin: 0;
					}
				}

				.one-column {
					@include span-columns(8 of 8);
					margin-bottom: 2rem;

					img {
						max-width: 100%;
						margin: 0;
						padding: 5% !important;
					}
				}


				.gallery {
					img {
						max-width: 100%;
						margin: 0;
						height: auto;
						padding: 0;
						display: block;
						max-height: 600px;
					}

					a {
						display: block;
					}

					a:link, a:hover, a:visited, a:active {
						text-decoration: none;
						border: none;
					}
				}

				&.evaluate p {
					@extend %medium-weight;
				}

			}
		}


		#container-button-article-pdf {
			@include clearfix;
			margin-bottom: 5rem;
		}

		#evaluation-tools {
			> h2 {
				@extend %section-title;
			}

			.button {
				margin-top: 2rem;
			}
		}

		.button {
			@include span-columns(12);

			@media screen and (min-width: $bp-medium) {
				@include span-columns(6);
			}
		}

		@media screen and (max-width: 720px) {
			aside {
				display: none;
			}

			#single-article-container {
				@include span-columns(12);

				> h2 {
					margin-top: 3rem;
				}

				> h2:first-child {
					margin-top: 0;
				}
			}
				
		}

	}

	#more-articles {
		@include outer-container();
		@include pads(0 2 0 2);

			
		h2 {
			@extend %section-title;
			margin-bottom: 5rem;
			padding-top: 1rem;
			border-top: 2px solid;
		}
	}
}