//--- KIT BASE ---//

#kit {

	/*
	// font baseline
	@media screen and (max-width: $bp-medium) {
		font-size: 14px;
	}
	@media screen and (min-width: $bp-large) {
		font-size: 16px;
	}
	*/
}


//--- KIT BASIC STYLES --//

#kit-title {
	@include outer-container();
	@include pads(0 2 0 2);
	position: relative;

	> div {
		//@include outer-container();
		@include span-columns(12);
		background-color: lime;
		height: 6rem;
		position: absolute;
		top: 0rem;
		z-index: -1;
		width: 95%;
		/*
		
		//margin-left: 0;
		
		width: 100%;
		
		*/
	}

	h1 {
		padding-right: 0;
		padding-left: 0;
	}

}


//--- KIT FONT SIZE ---//

%h1 {
	line-height: 3rem;

	@media screen and (max-width: $bp-medium) {
		font-size: 2.14rem;
	}
	@media screen and (min-width: $bp-medium) {
		font-size: 2.5rem;
	}
}

%main-description {
	@extend %medium-weight;

	@media screen and (max-width: $bp-small) {
		font-size: 1.3rem;
		line-height: 2rem;
	}
	@media screen and (min-width: $bp-small) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}
}


//--- KIT ARTICLE STLYES --//

%section-title {
	@extend %regular-weight;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: color(black);
}












%nav-size {
	font-size: 18px;
}

%article-h3 {
	@include media($x-small) {
		font-size: 1.1rem;
	}
	@include media($small) {
		font-size: 1.1rem;
	}
	@include media($medium) {
		font-size: 1.1rem;
	}
	@include media($large) {
		font-size: 1.1rem;
	}
	@include media($desktop) {
		font-size: 1.1rem;
	}
}

%p-title-size {

	@include media($x-small) {
		font-size: 1.286rem;
	}
	@include media($small) {
		font-size: 1.286rem;
	}
	@include media($medium) {
		font-size: 1.714rem;
	}
	@include media($large) {
		font-size: 1.5rem;
	}
	@include media($desktop) {
		font-size: 1.5rem;
	}
}

%kit-title-box {

	@include media($x-small) {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	@include media($small) {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	@include media($medium) {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	@include media($large) {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	@include media($desktop) {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
}

%kit-main-categories-title {

	@include media($x-small) {
		font-size: 2rem;
	}
	@include media($small) {
		font-size: 2rem;
	}
	@include media($medium) {
		font-size: 2.5rem;
	}
	@include media($large) {
		font-size: 3rem;
	}
	@include media($desktop) {
		font-size: 3rem;
	}

	@extend %medium-weight;
}

%h1-title-size {

	@include media($x-small) {
		font-size: 2.286rem;
	}
	@include media($small) {
		font-size: 2.286rem;
	}
	@include media($medium) {
		font-size: 2.286rem;
	}
	@include media($large) {
		font-size: 3rem;
	}
	@include media($desktop) {
		font-size: 3rem;
	}

	line-height: 3rem;
}


%h2-title-size {

	@include media($x-small) {
		font-size: 1.5rem;
	}
	@include media($small) {
		font-size: 1.5rem;
	}
	@include media($medium) {
		font-size: 1.5rem;
	}
	@include media($large) {
		font-size: 1.7rem;
	}
	@include media($desktop) {
		font-size: 1.7rem;
	}

	@extend %regular-weight;

}

//--- KIT BORDER SPECS ---//
%border-heavy {
	border-top: 4px solid color(brand-kit);
}

%border-light {
	border-top: 0.05rem solid color(brand-kit);
}


//--- COTEGORIES TEXT COLOR --//
%visita {
	color: color(visita);
}
%comunicazione {
	color: color(comunicazione);
}
%opere {
	color: color(opere);
}
%orientamento {
	color: color(orientamento);
}

//--- SHARED PARTS ---//

#title-bar {
	//background-color: color(brand-kit-header);
	//color: color(white);

	header {
		@include outer-container();
		@include pads(5 2 5 2);

		h1 {
			@extend %h1-title-size;
			@extend %bold-weight;
		}

		/*
		> div {
			@include media($x-small) {
				@include span-columns(4);
			}
			@include media($small) {
				@include span-columns(4);
			}
			@include media($medium) {
				@include span-columns(6);
			}
			@include media($large) {
				@include span-columns(8);
			}
			@include media($desktop) {
				@include span-columns(8);
			}
			

			//margin-top: 5rem;
		}
		*/
	}
}

%kit-menu-button {
	color: color(white);
	font-size: 1.286rem;
	text-decoration: none;
}