//--- KIT BASE ---//

%h1 {
	line-height: 3rem;

	@media screen and (max-width: $bp-medium) {
		font-size: 2.14rem;
	}
	@media screen and (min-width: $bp-medium) {
		font-size: 2.5rem;
	}
}

%kit-main-page-description {
	@extend %baseline-size;
	@extend %regular-weight;
}

%main-description {
	@extend %kit-main-page-description;
}

%kits-title {
	@extend %medium-weight;
	font-size: 1.6rem;
	line-height: 2.2rem;
}


//--- KIT ARTICLE STLYES --//

%section-title {
	@extend %regular-weight;
	margin-bottom: 2rem;
	line-height: 120%;
	font-size: 1.5rem;
	color: color(black);
}


// --- KIT SINGLE VISUALISATION --//

/* COLUMNS STYLE */

.single-kit {
	@include outer-container();

	li {
		@include span-columns(12);
		margin-bottom: 3rem;

		h3 {
			@extend %kits-title;
			margin-bottom: 1rem;
		}

		.kit-icon {
			margin-top: 2rem;
			text-align: center;
			img {
				max-width: 230px;
			}
		}

		@media screen and (min-width: $bp-small) {
			@include span-columns(6);
			@include omega-reset(3n);
			@include omega(2n);
		}

		@media screen and (min-width: $bp-large) {
			@include span-columns(4);
			@include omega-reset(2n);
			@include omega(3n);
		}
	}


	a:link, a:hover, a:visited, a:active {
		text-decoration: none;
		color: color(black);
	}

}


//--- COTEGORIES TEXT COLOR --//
%visita {
	color: color(visita);
}
%comunicazione {
	color: color(comunicazione);
}
%opere {
	color: color(opere);
}
%orientamento {
	color: color(orientamento);
}