//-- KIT PATHS --/

#kit {

	//--- PATHS MAIN ---/

	#kit-path-main {

		#main-header {
			@include outer-container();
			@include pads(0 2 0 2);
			margin-bottom: 5rem;

			> div {
				@include span-columns(12);

				@media screen and (min-width: $bp-medium) {
					@include span-columns(8);
				}
			}
		}
	}



	#paths-container {
		@include outer-container();
		@include pads(0 2 0 2);

		.path-single {

			a:link, a:hover, a:visited, a:active {
				color: color(black);
				text-decoration: none;
			}

			h2 {
				@extend %kits-title;
			}

			@include span-columns(12);

			@media screen and (min-width: $bp-medium) {
				@include span-columns(8);
			}

			.path-related-images {
				margin-top: 1rem;
				img {
					@include span-columns(6 of 12);
					max-width: 100%;
				}
			}
		}

		.path-single + .path-single {
			margin-top: 4rem;
		}

	}



	//--- PATH SINGLE PAGE --//

	.path-single {

		.description {
			margin-top: 1rem;
		}

		#main-header {

		}
		#single-article-container {
			@media screen and (max-width: $bp-menu-mobile) {
				width: 100% !important;
			}

			p + p {
				margin-top: 1rem;
			}

			p + ul {
				margin-top: 2rem;
			}

			ul + p {
				margin-top: 3rem;
			}

			.section-container + ul.content-list {
				margin-top: 2rem;
			}

			#main_description {
				@extend %medium-weight;
				margin-bottom: 2rem;
			}

			ul.content-list {
				padding-left: 0;

				li + li {
					padding-top: 2rem;
				}

				li {
					margin-left: 1rem;
					list-style-type: none;

					.bullet {
						width: 0.37rem;
						height: 0.37rem;
						position: relative;
						//right: -1rem;
						top: 0.9rem;
						left: -1rem;
						background-color: color(black);
					}

					h4 {
						@extend %medium-weight;
						margin-bottom: 1rem;
					}

					@extend .text-link;

				}
			}

		}

		#related-resources {
				@include outer-container();
				@include pads(0 2 5 2);


				h2 {
					@extend %section-title;
					padding-top: 1rem;
					border-top: 2px solid color(black);
				}

			#single-resources {

				li {
					@include span-columns(12);
					margin-bottom: 3rem;

					h3 {
						@extend %kits-title;
					}

					.resource-description {
						margin-top: 1rem;
					}

					.resource-image {
						margin-top: 1rem;
						width: 100%;

						img {
							max-width: 100%;
						}
					}

					@media screen and (min-width: $bp-small) {
						@include span-columns(6);
						@include omega-reset(3n);
						@include omega(2n);
					}

					@media screen and (min-width: $bp-large) {
						@include span-columns(4);
						@include omega-reset(2n);
						@include omega(3n);
					}
				}

				a:link, a:hover, a:visited, a:active {
					text-decoration: none;
					color: color(black);
				}
			}
		}

		#related-kits {
			@include outer-container();
			@include pads(0 2 0 2);
			
			h2 {
				@extend %section-title;
				padding-top: 1rem;
				border-top: 2px solid color(black);
			}
		}
	}
}